<%= form_with(url: data_imports_path, local: true, multipart: true) do |form| %>
  <div>
    <%= form.label :xlsx_file %>
    <%= form.file_field :xlsx_file %>
  </div>

  <div>
    <%= form.submit "Upload File" %>
  </div>
<% end %>
