@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.pagination {
  .next, .last, .first, .prev, .page {
    color: #0b64e9 !important;
  }
  .page.current{
    color: #020a16 !important;
  }
}

ul {
  padding: 3rem 10px;
}

.left_container {
  width: 80%;
}

.left_container {
  h2, li {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
    min-height: 2rem;
    padding: 6px 8px;  
  }
}

.right_container {
  width: 20%;
  padding: 5px 0px;
}


.add_new_content {
  color: blue;
  border: 1px solid blue;
  padding: 6px;
  background: #c8c8d3;
  border-radius: 6px;
  margin-left: 3rem;
  box-shadow: 5px 5px 4px 0 rgba(46,54,46,1.17);
}

.subject_type {
  color: black;
  border: 1px solid #87a0d1;
  border-radius: 10px;
  padding: 9px 80px;
}
