@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.pagination {
  .next, .last, .first, .prev, .page {
    color: #0b64e9 !important;
  }
  .page.current{
    color: #020a16 !important;
  }
}

ul {
  padding: 3rem 10px;
}

.left_container {
  width: 80%;
}

.right_container {
  width: 20%;
}


.add_new_content {
  color: blue;
  border: 1px solid blue;
  padding: 6px;
  background: #c8c8d3;
  border-radius: 6px;
}

.subject_type {
  color: black;
  border: 1px solid #87a0d1;
  border-radius: 10px;
  padding: 9px 80px;
}